.icon {
  display: block;

  height: 24px;
  width: 24px;

  object-fit: contain;
  transition: transform 0.3s;

  @include hover(transform,scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(./image/icons/Icon-Phone-call.png);
    background-repeat: no-repeat;
  }

  &--menu {
    background-image: url(./image/icons/Icon-Burger-menu.png);
    background-repeat: no-repeat;
  }

  &--close {
    background-image: url(./image/icons/icon-close.png);
    background-repeat: no-repeat;
  }
}
