@mixin on-tablet {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin content-padding-in-line() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }
}

<<<<<<< HEAD

@mixin hover($property, $toValue) {
    transition: #{$property} 0.3s;
    &:hover{
      #{$property}: $toValue;
    }
=======
@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
>>>>>>> f2fc635 (update node & page)
}
